@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
}

a{
    text-decoration: none;
  
}