@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

.sidebar {
    width: 15.5%;
    height: 100%;
    border-right: 2px solid #F0F0F0;
    position: fixed;
}

.logo {
    margin-left: 22%;
    margin-top: 28px;
    margin-bottom: 38%;
}

.girlImg {
    width: 147px;
    height: 155px;
    margin-left: 42px;
    margin-top: 25px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #BDBDBD;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 17px;
}

a:hover {
    color: #369FFF;
}

.dot{
    color:#369FFF;
}

.blue{
    color:#369FFF;
}

.menu {
    margin-left: 18%;
}

.icon {
    margin-right: 31px;
}

.popup {
    width: 72%;
    height: 106px;
    background-color: #c9e7ff;
    border-radius: 15px;
    padding: 20px;
    margin-left: 33px;
    margin-top: 55px;
}

.message {
    color: #303030;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
}

.goto {
    color: #369FFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

.arrowBox {
    position: relative;
    border: 1px solid #369FFF;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.arrowBox:hover {
    cursor: pointer;
    background-color: #9ccbf8;
    border: none;
}

.arrow {
    position: absolute;
    top: 5%;
}