.banner{
    position: relative;
    height: 80px;
    border-radius: 20px;
    padding: 15px 20px;
    background-color: #F7F7F7;
    margin-right: 35px;
    margin-bottom: 25px;
}

.col1 .banner {
    width: 100%;
}

.col2 .banner {
    width: 110%;
}

.col1 {
    margin-right: 29px;
}

.dots{
    position: absolute;
    right: 20px;
    top: 31px;
}

.dots:hover{
    cursor: pointer;
}

.bgBlue,
.bgGreen,
.bgYellow,
.bgOrange {
    width: 60px;
    height: 50px;
    border-radius: 12px;
}

.img {
    width: 28px;
    height: 28px;
}

.bgBlue{
    background-color: #d1e6f9;
}

.bgGreen{
    background-color: #e2edd2;
}

.bgYellow {
    background-color: #f9f0d3;
}

.bgOrange{
    background-color: #f9e5d2;
}

.text1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #303030;
}

.text2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #BDBDBD;
}
