.flex{
    width: 47.5%;
    height: 150px;
    border-radius: 20px;
}

.flex1{
    background-color: #369FFF;
    box-shadow: 0px 10px 30px rgba(54, 159, 255, 0.4);
    margin-right: 30px;
    margin-bottom: 30px;
}

.flex2{
    background-color:#FF993A ;
    box-shadow: 0px 10px 30px rgba(255, 153, 58, 0.4);
    margin-bottom: 30px;
}

.flex3{
    background-color: #8AC53E;
    box-shadow: 0px 10px 30px rgba(138, 197, 62, 0.4);
    margin-right: 30px;
}
.flex4{
    background-color: #FFD143;
    box-shadow: 0px 10px 30px rgba(255, 209, 67, 0.4);
}