.container_main {
    width: 32%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 2px solid #F0F0F0;
    padding: 1.7% 2.5%;
}

.notif:hover {
    cursor: pointer;
}

.profileDiv {
    width: 60%;
    height: 60px;
    padding: 2.5% 5% 2.5% 2.5%;
    background-color: #ebf6ff;
    border-radius: 10px;
}

.name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #303030;
    margin-bottom: 5px;
}

.plan {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #369FFF;
}

.textDiv {
    margin-left: 15px;
    margin-right: 31px;
}

.drop:hover {
    cursor: pointer;
}